// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#wrapperBox  {  
    width: 100%;  
}

div#headerBox   {  
    width: 100%;  
    padding: 10px 15px;  
    margin: 2px;
}

div#navigationBox   {  
    width: 100%;  
    padding: 3px 10px;  
}

div#containerBox    {  
    width: 100%;  
}

div#containerBox:after  {  
    height: 0;  
    visibility: hidden;  
    content: ".";  
    display: block;  
    clear: both;  
}

div#mainBox {  
    float: right;  
    width: 70%;  
    padding: 20px 5px;  
    overflow: scroll;
}

div#memotitle {
	font-size: large;
}

div#subBox  {  
    float: left;  
    width: 25%;  
    padding: 20px 5px;  
}

div#footerBox   {  
    width: 100%;  
    padding: 5px 15px;  
    color: #FFF;  
}

ul {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  list-style: none;
}
ul li {
  margin: 0 0 0 0.5em;
  padding: 0;
  border-left: 1px solid #999;
  zoom: 1;
}
ul li:before {
  margin-right: 0.5em;
  border-bottom: 1px solid #999;
  float: left;
  width: 1em;
  height: 0.75em;
  overflow: hidden;
  content: "";
}
ul li:last-child {
  border: none;
}
ul li:last-child:before {
  border-left: 1px solid #999;
}
ul li ul {
  margin-left: 1.5em;
}