  <div class='subtitle'>
    <%= f.label :memotitle, "memotitle" %>
    <%= f.text_field :memotitle %>
  </div>
  <div class='detail'>
    <%= f.label :detail, "detail" %>
    <%= f.text_field :detail %>
  </div>