  <div id='memotitle'>
    <%= f.label :memotitle, "memotitle" %>
    <%= f.text_field :memotitle %>
  </div>
  <div id='detail'>
    <%= f.label :detail, "detail" %>
    <%= f.text_area :detail %>
  </div>