<div id='wrapperBox'>
<div id='headerBox'>
header
</div>
<div id='navigateBox'>
navigate
</div>

<div id='containerBox'>
  <div id='mainBox'>
    <%# ここでajax render %>
    <%#= render "show", f: detail %>
    <% @memos.each do |memo| %> 
      <h1><%= memo.title %></h1>
    <% end %>
    <div class='new'>
      <%= link_to "新規作成", '/memos/new' %>
    </div>
  </div>

  <div id='subBox'>
    <section>
    <p>メモリスト</p>
    <ul>
      <% @memos.each do |memo| %>
      <li>
        <%= memo.title %>
        <ul>
          <% memo.detail.each do |detail| %>
            <li><%= link_to detail.memotitle, memo_path(memo, detail) %></li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
    </section>
  </div>
</div>

<div id='footerBox'>
footer
</div>

</div>